---


 const personalImageAlt = "Andres Villarreal"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        My name is Andres Villarreal, I'm a Colombian developer and I have a passion
        for everything related to computer science.<strong> I specialize in developing in ASP.NET Core</strong>, 
        and I like to make Websites and APIs with this framework.
    </p>

    <p>
        I can say that my experience is balanced between frontend and 
        backend,<strong> I usually work with SQL and SqLite</strong> . Although I know
        frameworks like <strong>Angular and Astro</strong>, I also have strong experience in <strong>HTML5, CSS3, JavaScript, and PHP</strong>.
        
    </p>

    <p>
        Also, my experience includes knowledge in Data Science
        and Big Data paradigms, focused on performing ETL(Extract, Transform, and Load) Information for data analysis, using 
        <strong>Phyton, Pandas, and Jupyter</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/me3.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>