---
import EducationItem from '../components/EducationTimeLine.astro';

const EDUCATION = [
    {
        startDate: 'August 2022',
        endDate: 'June 2024',
        title: 'Computer Programming Program',
        company:'Niagara College Canada',
        description: 'This program focuses on the development of software applications for mobile devices, big data analytics and interactive multimedia.',
       // link: '#'
    },
    {
        startDate: 'January 2024',
        endDate: 'To Present',
        title: 'UX Design',
        company:'Google Career Certificates',
        description: 'This program focuses on make digital and physical products easier and enjoyable to users, building wireframes, prototypes and conducting research to test UX designs',
       // link: '#'
    },
    {
        startDate: 'February 2024',
        endDate: 'April 2024',
        title: 'Linux Operating System Certificate',
        company:'Hack4you Academy',
        description: 'This progran focuses on mastering the linux operating system being able not only to operate in the linux terminal with any type of commands, but also to be able to customize and modify the work environment according to the required needs.',
       // link: '#'
    }
    
]
---
<ol class="relative mt-16">
    {
        EDUCATION.map((education) =>(
            <li class="">
                <EducationItem {...education}/>
            </li>
        ))
    }
</ol>


