---
const { href } = Astro.props
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-medium
         rounded-xl border transition
         text-gray-800 dark:text-gray-100
         bg-white dark:bg-gray-800
         border-gray-300 dark:border-gray-600
         hover:bg-gray-800 hover:text-white hover:border-gray-800
         dark:hover:bg-gray-700 dark:hover:border-gray-500
         focus:outline-none focus-visible:ring focus-visible:ring-yellow-500/80
         active:scale-95 max-w-fit"
>
  <slot />
</a>
