---
import ExperienceItem from '../components/TimeLineItem.astro';

const EXPERIENCE = [
{
        startDate: 'January 2022',
        endDate:'To Present',
        title: 'Freelance Web Developer',
        company: '',
        description: 'Coding Frontend and backend of websites, web apps and mobile apps using frameworks like Angular, Ionic, React and MAUI.',
        //link: '#'
    },
    {
        startDate: 'August 2021',
        endDate:'To March 2022',
        title: 'Web Developer',
        company: 'Floridabama Auto sales',
        description: 'Designed and launched an auto sales website from scratch using ASP.NET MVC pattern. Improved customer engagement. Increased the number of appointments and sales.',
        //link: '#'
    },
        {
        startDate: 'June 2019',
        endDate:'To December 2021',
        title: 'Junior Developer',
        company: 'V12 Comunicaciones',
        description: 'Creation of a renowned virtual automotive magazine in Bogota, using Php, Laravel, HTML5, CSS3 and JavaScript. Also the deployment and maintenance of a website for a vitamin supplement company, highlighting an e-commerce for the sale of its products.',
        //link: '#'
    },
 
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) =>(
            <li class="">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>


