---
import ExperienceItem from '../components/TimeLineItem.astro';

const EXPERIENCE = [
{
    
    startDate: 'October 2024',
    endDate:'To Present',
    title: 'Electronics Specialist',
    company: 'Rugged Books',
    description: 'Specialized in hardware diagnostics, repair, and integration for rugged devices, with strong expertise in Panasonic Toughbooks as well as Dell and Getac systems.',
    list: ''
    //link: '#'
},
{
    
        startDate: 'January 2021',
        endDate:'To August 2023',
        title: 'Full-Stack Developer',
        company: 'Floridabama Autosales',
        description: 'Developed and delivered a business application for an automotive dealership, managing vehicle inventory, customer databases, financing processes, and delivery workflows. Built scalable modules using ASP.NET MVC, React, and TypeScript, integrated with ERP-like systems to streamline operations.',
        list: ''
        //link: '#'
    },
        {
        startDate: 'June 2018',
        endDate:'To December 2021',
        title: 'Junior Web Developer',
        company: 'V12 Comunicaciones',
        description: 'Full-Stack web development for startups to enterprises based in Colombia, focusing on custom apps, eCommerce, APIs, and Cloud Solutions',
        list: ''
        //link: '#'
    },
 
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) =>(
            <li class="">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>


