---
import ExperienceItem from '../components/TimeLineItem.astro';

const EXPERIENCE = [
{
    
    startDate: 'October 2024',
    endDate:'To Present',
    title: 'Electronic Service Technician',
    company: 'Rugged Books',
    description: 'repairing and replacing faulty components, testing devices to ensure performance, cleaning and restoring their appearance, upgrading hardware or software, and conducting quality assurance to meet standards before reselling.',
    //link: '#'
},
{
    
        startDate: 'January 2022',
        endDate:'To October 2024',
        title: 'Freelance Web Developer',
        company: '',
        description: 'Coding Frontend and backend of websites, web apps and mobile apps using frameworks like Angular, Ionic, React and MAUI.',
        //link: '#'
    },
        {
        startDate: 'June 2019',
        endDate:'To December 2021',
        title: 'Junior Web Developer',
        company: 'V12 Comunicaciones',
        description: 'Creation of a renowned virtual automotive magazine in Bogota, using Php, Laravel, HTML5, CSS3 and JavaScript. Also the deployment and maintenance of a website for a vitamin supplement company, highlighting an e-commerce for the sale of its products.',
        //link: '#'
    },
 
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) =>(
            <li class="">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>


