---
import ExperienceItem from '../components/TimeLineItem.astro';

const EXPERIENCE = [
{
    
    startDate: 'October 2024',
    endDate:'To Present',
    title: 'Electronic Service Technician',
    company: 'Rugged Books',
    description: 'Focused on high-level hardware repairments for brands such as Panasonic, Dell and Getac.',
    list: ''
    //link: '#'
},
{
    
        startDate: 'January 2021',
        endDate:'To August 2023',
        title: 'Backend Developer',
        company: '',
        description: 'Collaborated to deliver scalable solutions for inventory management, sales workflows, and customer portals.',
        list: ''
        //link: '#'
    },
        {
        startDate: 'June 2018',
        endDate:'To December 2021',
        title: 'Junior Backend Developer',
        company: 'V12 Comunicaciones',
        description: 'Full-Stack web development for startups to enterprises based in Colombia, focusing on custom apps, eCommerce, APIs, and Cloud Solutions',
        list: ''
        //link: '#'
    },
 
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) =>(
            <li class="">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>


